<% semantic_form_for @reply do |f| %>
	<div class="section" id="name">
		<%= f.input :name, :label => 'Please enter your name' %>
	</div>
	
	<div class="section" id="engagement">
		<%= f.input :engagement, :label => 'Will you attend the engagement party, in Canada on 28 August?', :as => :radio %>
		<!-- <%= f.input :engagement_adults, :label => 'How many adults?' %> -->
		<%= f.input :engagement_children, :label => 'How many children?' %>
	</div>
	
	<div class="section" id="wedding">
		<%= f.input :wedding, :label => 'Will you attend the wedding and reception, in UK on 4 September?', :as => :radio %>
		<%= f.input :wedding_adults, :label => 'How many adults?' %>
		<%= f.input :wedding_children, :label => 'How many children?' %>		
	</div>
	<div class="section" id="notes">
		<%= f.input :diet, :label => 'Any special dietary requirements?' %>
		<%= f.input :notes, :label => 'Anything else to add?', :input_html => { :class => 'autogrow' } %>
	</div>
	<%= f.buttons %>
<% end %>
