<% semantic_form_for @reply do |f| %>
	<% f.inputs do %>

<div class="section">
		<%= f.input :name, :label => 'Who are you?' %>
</div>

<div class="section">
		<%= f.input :engagement, :label => 'Will you attend the engagement party, in Canada on 28 August?', :as => :radio, :collection => [["Yes please!", true], ["Nope.", false]] %>
		<div class="subsection">
				<%= f.input :engagement_adults, :label => 'How many adults?',:input_html => { :size => '6' } %>
				<%= f.input :engagement_children, :label => 'How many children?',:input_html => { :size => '6' } %>
		</div>
</div>	

<div class="section">
		<%= f.input :wedding, :label => 'Will you attend the wedding and reception, in UK on 4 September?', :as => :radio, :collection => [["Yes please!", true], ["Nope.", false]] %>
		<div class="subsection">
				<%= f.input :wedding_adults, :label => 'How many adults?',:input_html => { :size => '6' } %>
				<%= f.input :wedding_children, :label => 'How many children?',:input_html => { :size => '6' } %>	
		</div>	
</div>

<div class="section">
		<%= f.input :diet, :label => 'Any special dietary requirements?' %>
		<%= f.input :notes, :label => 'Anything else to add?', :input_html => { :class => 'autogrow' } %>
</div>

	<% end %>
<div class="section">
	<%= f.commit_button 'Send your reply' %>
</div>
<% end %>
